<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uaoremoto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VistaCurso"></activity>
        <activity android:name=".MisCursosDocente" />
        <activity android:name=".ValidacionNegativaD" />
        <activity android:name=".ValidacionPositivaD" />
        <activity android:name=".AutoevaluacionDocente" />
        <activity android:name=".InicioDocente" />
        <activity android:name=".LoginEstudiante" />
        <activity android:name=".LoginDocente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>